<!DOCTYPE html>
<html>
<head>
	<title>HOME</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link href="https://fonts.googleapis.com/css2?family=Merienda&display=swap" rel="stylesheet">
	
<style>
body{
	 background: linear-gradient(to right, #d76d77, #d76d77, #ffaf7b);
	  font-family: 'Merienda', cursive;
	  background-repeat: no-repeat;
	  background-size: cover;


}
h1{
	margin-bottom: 10px;
}

p{
	font-size: 18px;
	margin: 10px;
	font-size: 20px;
	padding: 10px;
}
h3{
	margin: 15px;
}

#a{
	font-size: 20px;

}

#b{
	background-color: white;
	opacity: 0.9;
}
</style>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-warning">
  <a class="navbar-brand" href="#"><b>Chronic kidney disease</b></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item active">
        <a class="nav-link" href="{{ url_for('home') }}">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('about') }}">About</a>
      </li>
      
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('form') }}">Predict</a>
      </li>
      
      
    </ul>
    
  </div>
</nav>
<br>

<div id="b">
<center><h2><u>CHRONIC KIDNEY DISEASE</u></h2></center>
<br>


		<ul id="a">
			<li>Chronic kidney disease, also called chronic kidney failure, describes the gradual loss of kidney function. Your kidneys filter wastes and excess fluids from your blood, which are then excreted in your urine. When chronic kidney disease reaches an advanced stage, dangerous levels of fluid, electrolytes and wastes can build up in your body.</li>

<li>In the early stages of chronic kidney disease, you may have few signs or symptoms. Chronic kidney disease may not become apparent until your kidney function is significantly impaired.</li>

<li>Treatment for chronic kidney disease focuses on slowing the progression of the kidney damage, usually by controlling the underlying cause. Chronic kidney disease can progress to end-stage kidney failure, which is fatal without artificial filtering (dialysis) or a kidney transplant.</li>
</ul>



	<h3><b>Symptoms</b></h3>
<p>Signs and symptoms of chronic kidney disease develop over time if kidney damage progresses slowly. Signs and symptoms of kidney disease may include:</p>
<ul id="a">
<li>Nausea</li>
<li>Vomiting</li>
<li>Loss of appetite</li>
<li>Fatigue and weakness</li>
<li>Sleep problems</li>
<li>Changes in how much you urinate</li>
<li>Decreased mental sharpness</li>
<li>Muscle twitches and cramps</li>
<li>Swelling of feet and ankles</li>
<li>Persistent itching</li>
<li>Chest pain, if fluid builds up around the lining of the heart</li>
<li>Shortness of breath, if fluid builds up in the lungs</li>
<li>High blood pressure (hypertension) that's difficult to control</li>
</ul>

</div>





<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>
